<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='output.css') }}">
    <style></style>
  </head>
  <body>
    <nav class="bg-black flex w-full text-white">
        <ul class="flex gap-2 text-xl">
            <a href="/" class="hover:text-blue-600 hover:bg-white p-3 hover:font-bold transition-all"><li>Home</li></a>
            <a href="/review" class="hover:text-blue-600 hover:bg-white p-3 hover:font-bold transition-all"><li>Review</li></a>
            <a href="/contact" class="hover:text-blue-600 hover:bg-white p-3 hover:font-bold transition-all"><li>Contact Us</li></a>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>